* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font: 22px Minion Pro, Helvetica sans-serif;
    color: #666666;
    font-family: inherit;
    line-height: 1;

}

.wrapper {
    width: 1200px;
    margin: 0 auto;

}

/*HEADER BEGIN*/
header h1 {
    float: left;
    padding: 20px 0 0 140px;
}

.hea {
    display: inline-block;
    position: relative;

}

.hea .fon {
    border-radius: 10px;
    height: 133px;
    width: 1200px;
}

.hea .te {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    color: #fff;

}

header {

    height: 133px;
    -o-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
}

nav {
    float: right;
}

nav li {
    float: right;
    margin: 32px 140px 0px -130px;
    transition: all .1s;

}

nav li a {
    color: #fff;
    font-size: 37px;
}

nav li:hover {
    padding-bottom: 3px;
    border-bottom: 2px solid;
    color: #fff;

}

#about {
    padding-bottom: 3px;
    border-bottom: 2px solid #fff;
}

#about:hover {
    padding-bottom: 3px;
    border-bottom: 2px solid;
    color: #fff;
}

/*HEADER END*/

.line1 {
    width: 1200px;
    margin: 0 auto;

}

.line-upper {
    padding: 16px 0 27px 0;

}

.line2 {
    padding: 20px 0 20px 0;
}

.about-img {
    border-radius: 8px;
    -o-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
}

.about {
    padding-left: 140px;
    width: 920px;


}

.content-inside {
    padding-bottom: 30px;
}

.content-inside-contacts {
    padding-bottom: 300px;
}

.line3 {
    padding: 12px 0 27px 0;
    clear: both;
    text-align: center;
}


footer {
    width: 1200px;
    height: 150px;
    margin: 0 auto;
    background: url("../img/back-footer.png") no-repeat 0 0;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
}



footer p {
    float: left;
    padding: 60px 0 0 140px;
    color: #fff;
    font-size: 18px;
}


.socseti {
    float: right;
    padding: 25px 140px 0 0;
}

.mail, .facebook, .twitter:hover, .vk:hover {
    transition: all 0.35s;
}

.socseti li {
    float: left;

}

.vk, .mail, .facebook {
    padding-right: 10px;
}

.mail:hover, .twitter:hover, .facebook:hover, .vk:hover {
    padding-top: 8px;
}

@media all and (max-width: 1200px) {
   .hea .fon {
    border-radius: 0px;
    height: 133px;
    width: 1200px;
}

    footer {
    width: 1200px;
    height: 150px;
    margin: 0 auto;
    background: url("../img/back-footer.png") no-repeat 0 0;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}
    .about {
    padding-left: 0;
    width: 1200px;


}
    .content-inside{
        padding: 0 30px 30px 30px;

}
    .about-img{
        display: block;
        margin: 0 auto;
        width: 1140px;
    }


}