* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font: 22px Minion Pro, Helvetica sans-serif;
    color: #666666;
    font-family: inherit;
    line-height: 1;

}

.wrapper {
    width: 1200px;
    margin: 0 auto;

}

/*HEADER BEGIN*/
header h1 {
    float: left;
    padding: 20px 0 0 140px;
}

.hea {
    display: inline-block;
    position: relative;

}

.hea .fon {
    border-radius: 10px;
    height: 133px;
    width: 1200px;
}

.hea .te {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    color: #fff;

}

header {
    background: url(../img/back-header.png) no-repeat;
    height: 133px;
    -o-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
}

nav {
    float: right;
}

nav li {
    float: right;
    margin: 32px 140px 0px -130px;
    transition: all .1s;

}

nav li a {
    color: #fff;
    font-size: 37px;
}

nav li:hover {
    padding-bottom: 3px;
    border-bottom: 2px solid;
    color: #fff;

}

#blog {
    padding-bottom: 3px;
    border-bottom: 2px solid #fff;
}

#blog:hover {
    padding-bottom: 3px;
    border-bottom: 2px solid;
    color: #fff;
}

/*HEADER END*/

.line1 {
    width: 1200px;
    margin: 0 auto;

}

.line-upper {
    padding: 16px 0 27px 0;

}

.zagolovok {
    text-align: center;
    font-size: 30px;
    color: #666666;
    padding-bottom: 25px;
}

.line2 {
    padding: 20px 0 20px 0;
}

.about-img {
    border-radius: 8px;
    -o-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
}

.about {
    padding-left: 140px;
    width: 920px;
}

.item {
    padding-left: 140px;
    width: 920px;
    padding-bottom: 700px;
}

.images {
    width: 300px;
    float: left;

}

.text {
    width: 600px;
    float: right;
    padding-bottom: 10px;

}

.numpage {

    clear: both;
    padding: 30px 0 10px 0;
    text-align: center;
}

.ch-line {
    width: 920px;
}

.numpage li {
    display: inline-block;
    padding-left: 15px;

}

.numpage li:first-child {
    padding-left: 0;
}

.numpage li a:visited {
    color: #a5a5a5;
}

.numpage li a {
    color: #4c7162;
    font-size: 15px;
    border: solid 1px;
    padding: 3px 4px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    transition: all 1s;

}

.numpage li a:hover {
    color: #00aeff;
    border-radius: 6px;

}

.numpage li .prev-arrow {
    color: #a5a5a5;
    font-weight: bold;
}

.numpage li .prev-arrow:hover {
    color: #a5a5a5;

}

.pad-images-post {
    padding-bottom: 30px;

}

.pad-images-post img {
    border-radius: 10px;
}

.buttons_np {
    width: 920px;
    clear: both;
    padding-top: 15px;

}

.button-next a {
    text-transform: uppercase;
    padding: 8px 20px;
    font-size: 13px;
    border: solid 2px;
    border-radius: 6px;
    color: #2c493a;
    float: right;
    clear: both;

}

.button-next a:visited {
    color: #a5a5a5;
}

.button-next a:hover {
    color: #00aeff;
}

.button-prev a {
    text-transform: uppercase;
    padding: 8px 20px;
    font-size: 13px;
    border: solid 2px;
    border-radius: 6px;
    color: #2c493a;
    float: left;

}

.button-prev a:visited {
    color: #a5a5a5;
}

.button-prev a:hover {
    color: #00aeff;
}

.post-1, .post-2, .post-3 {
    width: 920px;
    clear: both;
}

.post-2, .post-3 {
    padding-top: 60px;
}

.post-img {
    width: 300px;
    float: left;

}

.post-img img {
    border-radius: 10px;
}

.post-text {
    width: 600px;
    float: right;
    padding-bottom: 30px;
}
.next-but{
    display: none;
}

.line3 {
    padding: 12px 0 27px 0;
    clear: both;
    text-align: center;
}

footer {
    width: 1200px;
    height: 150px;
    margin: 0 auto;
    background: url("../img/back-footer.png") no-repeat 0 0;
    border-radius: 10px 10px 10px 10px;
    -o-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    clear: both;
}

footer p {
    float: left;
    padding: 60px 0 0 140px;
    color: #fff;
    font-size: 18px;
}

.socseti {
    float: right;
    padding: 25px 140px 0 0;
}

.mail, .facebook, .twitter:hover, .vk:hover {
    transition: all 0.35s;
}

.socseti li {
    float: left;

}

.vk, .mail, .facebook {
    padding-right: 10px;
}

.mail:hover, .twitter:hover, .facebook:hover, .vk:hover {
    padding-top: 8px;
}

@media all and (max-width: 1200px) {
    .hea .fon {
        border-radius: 0px;
        height: 133px;
        width: 1200px;
    }

    footer {
        width: 1200px;
        height: 150px;
        margin: 0 auto;
        background: url("../img/back-footer.png") no-repeat 0 0;
        border-radius: 0;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
    }


    footer p {
        width: 500px;
    }

    .about {
        padding-left: 0;
        width: 1140px;
        margin: 0 auto;
    }

    .about-img {
        display: block;
        margin: 0 auto;
        width: 1140px;
        width: 1140px;
    }

    .post-img {
        width: 1140px;
        float: none;
        margin: 0 auto;


    }

    .post-img img {
        width: 1140px;
        clear: both;
        padding-bottom: 20px;


    }

    .post-text {
        width: 1140px;
        float: none;
        padding-bottom: 30px;
        margin: 0 auto;
        clear: both;
        font-size: 5vw;
    }

    .post-1, .post-2, .post-3 {
        width: 1140px;
        clear: both;
    }
    .button-next a{
        clear: both;
        float: none;
    }
    .button-next {
        clear: both;
        float: none;
        margin: 0 auto;
    }
    .ch-line{
        margin: 0 auto;
        margin-top: 30px;
    }

     .numpage{
        display: none;
    }
     .next-but{
    display: block;
         clear: both;
        width: 300px;

        margin:  0 auto;
         margin-top: 30px;
        border: 2px solid #2c493a;
         border-radius: 8px;


}
    .next-but p {
        color: #2c493a;
        text-transform: uppercase;
        padding: 40px;
        text-align: center;
    }
    .images {
        width: 370px;
        float: left;
    }
    .images img{
        width: 370px;

    }
    .text{
        width: 740px;
        font-size: 5vw;

    }
    .button-next{
        clear: both;
        width: 500px;
        height: 40px;
        float: right;

    }

    .button-next a{
        float: right;


    }
    .buttons_np{
        width: 1140px;
    }



}





