* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font: 22px Minion Pro, Helvetica sans-serif;
    color: #666666;
    font-family: inherit;
    line-height: 1;

}

.wrapper {
    width: 1200px;
    margin: 0 auto;

}

/*HEADER BEGIN*/
header h1 {
    float: left;
    padding: 20px 0 0 140px;
}

.hea {
    display: inline-block;
    position: relative;

}

.hea .fon {
    border-radius: 10px;
    height: 133px;
    width: 1200px;
}

.hea .te {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    color: #fff;

}

header {
    background: url(../img/back-header.png) no-repeat;
    height: 133px;
    -o-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
}

nav {
    float: right;
}

nav li {
    float: right;
    margin: 32px 140px 0px -130px;
    transition: all .1s;

}

nav li a {
    color: #fff;
    font-size: 37px;
}

nav li:hover {
    padding-bottom: 3px;
    border-bottom: 2px solid;
    color: #fff;

}

#blog {
    padding-bottom: 3px;
    border-bottom: 2px solid #fff;
}

#blog:hover {
    padding-bottom: 3px;
    border-bottom: 2px solid;
    color: #fff;
}

/*HEADER END*/

.line1 {
    width: 1200px;
    margin: 0 auto;

}

.line-upper {
    padding: 16px 0 27px 0;

}

.zagolovok {
    text-align: center;
    font-size: 30px;
    color: #666666;
    padding-bottom: 25px;
}

.line2 {
    padding: 20px 0 20px 0;
}

.about-img {
    border-radius: 8px;
    -o-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
}

.about {
    padding-left: 140px;
    width: 920px;
}

.item {
    padding-left: 140px;
    width: 920px;
    padding-bottom: 700px;
}

.images {
    width: 300px;
    float: left;

}

.text {
    width: 600px;
    float: right;
    padding-bottom: 10px;

}

.numpage {
    float: left;
    clear: both;
    padding-top: 30px;
}

.numpage li {
    float: left;
    padding-left: 10px;

}

.numpage li:first-child {
    padding-left: 0;
}

.numpage li a:visited {
    color: #a5a5a5;
}

.numpage li a {
    color: #2c493a;
    font-size: 18px;
}

.numpage li .numbs:hover {
    color: #00aeff;
    border-bottom: solid 2px #00aeff;
}

.numpage li .next-arrow:hover {
    color: #00aeff;
}

.pad-images-post {
    padding-bottom: 30px;

}

.pad-images-post img {
    border-radius: 10px;
}

.buttons_np {
    width: 920px;
    clear: both;
    padding-top: 15px;

}

.button-next a {
    text-transform: uppercase;
    padding: 8px 20px;
    font-size: 13px;
    border: solid 2px;
    border-radius: 6px;
    color: #2c493a;
    float: right;
    clear: both;
}

.button-next a:visited {
    color: #a5a5a5;
}

.button-next a:hover {
    color: #00aeff;
}

.button-prev a {
    text-transform: uppercase;
    padding: 8px 20px;
    font-size: 13px;
    border: solid 2px;
    border-radius: 6px;
    color: #2c493a;
    float: left;
}

.button-prev a:visited {
    color: #a5a5a5;
}

.button-prev a:hover {
    color: #00aeff;
}

.post-1, .post-2, .post-3 {
    width: 920px;
    clear: both;
}

.post-2, .post-3 {
    padding-top: 60px;
}

.post-img {
    width: 300px;
    float: left;

}

.post-img img {
    border-radius: 10px;
}

.post-text {
    width: 600px;
    float: right;
    padding-bottom: 30px;
}

.line3 {
    padding: 10px 0 27px 0;
    clear: both;
}

footer {
    width: 1200px;
    height: 150px;
    margin: 0 auto;
    background: url("../img/back-footer.png") no-repeat 0 0;
    border-radius: 10px 10px 10px 10px;
    -o-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    clear: both;
}


footer p {
    float: left;
    padding: 60px 0 0 140px;
    color: #fff;
    font-size: 18px;
}


.socseti {
    float: right;
    padding: 25px 140px 0 0;
}

.mail, .facebook, .twitter:hover, .vk:hover {
    transition: all 0.35s;
}

.socseti li {
    float: left;

}

.vk, .mail, .facebook {
    padding-right: 10px;
}

.mail:hover, .twitter:hover, .facebook:hover, .vk:hover {
    padding-top: 8px;
}