* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font: 22px Minion Pro, Helvetica sans-serif;
    color: #666666;
    font-family: inherit;
    line-height: 1;

}

.wrapper {
    width: 1200px;
    margin: 0 auto;

}

/*HEADER BEGIN*/
header h1 {
    float: left;
    padding: 20px 0 0 140px;
}

.hea {
    display: inline-block;
    position: relative;

}

.hea .fon {
    border-radius: 10px;
    height: 133px;
    width: 1200px;
}

.hea .te {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    color: #fff;

}

header {
    background: url(../img/back-header.png) no-repeat;
    height: 133px;
    -o-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
}

nav {
    float: right;
}

nav li {
    float: right;
    margin: 32px 140px 0px -130px;
    transition: all .1s;

}

nav li a {
    color: #fff;
    font-size: 37px;
}

nav li:hover {
    padding-bottom: 3px;
    border-bottom: 2px solid;
    color: #fff;

}

#blog {
    padding-bottom: 3px;
    border-bottom: 2px solid #fff;
}

#blog:hover {
    padding-bottom: 3px;
    border-bottom: 2px solid;
    color: #fff;
}

/*HEADER END*/

.line1 {
    width: 1200px;
    margin: 0 auto;

}

.line-upper {
    padding: 16px 0 27px 0;

}

.zagolovok {
    text-align: center;
    font-size: 30px;
    color: #666666;
    padding-bottom: 25px;
}

.line2 {
    padding: 20px 0 20px 0;
}

.about-img {
    border-radius: 8px;
    -o-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
}

.about {
    padding-left: 140px;
    width: 920px;
}

.inner{
    width: 920px;
    clear: both;
}
.item {
    padding-left: 140px;
    width: 920px;
    padding-bottom: 700px;
}

.images {
    width: 300px;
    float: left;

}

.text {
    width: 600px;
    float: right;
    padding-bottom: 10px;

}

.text img {
    display: none;
}

.numpage {

    clear: both;
    padding: 30px 0 10px 0;
    text-align: center;
}

.ch-line {
    width: 920px;
}

.numpage li {
    display: inline-block;
    padding-left: 15px;

}

.numpage li:first-child {
    padding-left: 0;
}

.numpage li a:visited {
    color: #a5a5a5;
}

.numpage li a {
    color: #4c7162;
    font-size: 15px;
    border: solid 1px;
    padding: 3px 4px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    transition: all 1s;

}

.numpage li a:hover {
    color: #00aeff;
    border-radius: 6px;

}

.numpage li .prev-arrow {
    color: #a5a5a5;
    font-weight: bold;
}

.numpage li .prev-arrow:hover {
    color: #a5a5a5;

}

.pad-images-post {
    padding-bottom: 30px;

}

.pad-images-post img {
    border-radius: 10px;
}

.buttons_np {
    width: 920px;
    clear: both;
    padding-top: 15px;

}

.button-next a {
    text-transform: uppercase;
    padding: 8px 20px;
    font-size: 13px;
    border: solid 2px;
    border-radius: 6px;
    color: #2c493a;
    float: right;

}

.button-next a:visited {
    color: #a5a5a5;
}

.button-next a:hover {
    color: #00aeff;
}

.button-prev a {
    text-transform: uppercase;
    padding: 8px 20px;
    font-size: 13px;
    border: solid 2px;
    border-radius: 6px;
    color: #2c493a;
    float: left;

}

.button-prev a:visited {
    color: #a5a5a5;
}

.button-prev a:hover {
    color: #00aeff;
}

.post-1, .post-2, .post-3 {
    width: 920px;
    clear: both;
}

.post-2, .post-3 {
    padding-top: 60px;
}

.post-img {
    width: 300px;
    float: left;

}

.post-img img {
    border-radius: 10px;
    width: 297px;
}

.post-text {
    width: 600px;
    float: right;
    padding-bottom: 30px;
}

.next-but {
    display: none;
}

.line3 {
    padding: 12px 0 27px 0;
    clear: both;
    text-align: center;
}

footer {
    width: 1200px;
    height: 150px;
    margin: 0 auto;
    background: url("../img/back-footer.png") no-repeat 0 0;
    border-radius: 10px 10px 10px 10px;
    -o-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    clear: both;
}

footer p {
    float: left;
    padding: 60px 0 0 140px;
    color: #fff;
    font-size: 18px;
}

.socseti {
    float: right;
    padding: 25px 140px 0 0;
}

.mail, .facebook, .twitter:hover, .vk:hover {
    transition: all 0.35s;
}

.socseti li {
    float: left;

}

.vk, .mail, .facebook {
    padding-right: 10px;
}

.mail:hover, .twitter:hover, .facebook:hover, .vk:hover {
    padding-top: 8px;
}

/*---------------------------------------------------   изменения   ---------------------------------------------------------*/

.hea .fon1 {
    display: none;
}

.menu-all {
    display: none;

}



article{
    padding-top: 0px;
}


/*---------------------------------------------------   до сюда  ---------------------------------------------------------*/



@media all and (max-width: 1200px) {
    .hea .fon {
        border-radius: 0px;
        height: 133px;
        width: 1200px;
    }

    footer {
        width: 1200px;
        height: 150px;
        margin: 0 auto;
        background: url("../img/back-footer.png") no-repeat 0 0;
        border-radius: 0;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
    }

    footer p {
        width: 500px;
    }

    .about {
        padding-left: 0;
        width: 1140px;
        margin: 0 auto;
    }

    .about-img {
        display: block;
        margin: 0 auto;
        width: 1140px;
        width: 1140px;
    }

    .post-img {
        width: 1140px;
        margin: 0 auto;

    }

    .post-img img {
        width: 1140px;
        clear: both;
    }

    .post-text {
        width: 1140px;
        float: none;
        padding: 30px 0 30px 0;
        margin: 0 auto;
        clear: both;
    }

    .post-1, .post-2, .post-3 {
        width: 1140px;
        clear: both;
    }

    .button-next a {
        clear: both;
        float: none;
    }

    .button-next {
        clear: both;
        float: none;
        margin: 0 auto;
    }

    .ch-line {
        margin: 0 auto;
    }

    .numpage {
        display: none;
    }




    .images {
        display: none;
        width: 370px;
        float: left;
    }

    .images img {
        width: 370px;

    }

    .text {
        width: 1140px;
        clear: both;
        float: none;

    }

    .text img {
        display: block;
        width: 1140px;
        clear: both;
        padding: 30px 0 30px 0;

    }

    .button-next {
        clear: both;
        width: 1000px;
        margin: 0 auto;
        padding: 30px 0 30px 0;


    }
     .button-prev {
        clear: both;
        width: 1000px;
        margin: 0 auto;
         padding-bottom: 30px;

    }


    .button-next a {
        color: #2c493a;
        text-transform: uppercase;
        padding: 60px 300px;
        text-align: center;
        font-size: 25px;
        border: 2px solid ;
        border-radius: 6px;
        display: block;
        clear: both;

    }

    .button-prev a{
        color: #2c493a;
        text-transform: uppercase;
        padding: 60px 300px;
        text-align: center;
        font-size: 25px;
        border: 2px solid ;
        border-radius: 6px;
        display: block;
        clear: both;
        float: none;
    }

    .button-next a:visited {
        color: #a5a5a5;
    }

    .button-next a:hover {
        color: #00aeff;
    }
    .button-prev a:visited {
        color: #a5a5a5;
    }

    .button-prev a:hover {
        color: #00aeff;
    }


    .buttons_np {
        width: 1000px;
        margin: 0 auto;
    }
    .line3 {
        clear: both;
    }
    .inner{
        width: 1000px;
    }
           footer {
    width: 1200px;
    height: 300px;
    margin: 0 auto;
    background: url("../img/back-footer-mobile.png") no-repeat 0 0;

    border-radius: 0;
    clear: both;
}
       .twitter img{
        width: 150px;
    }
    .vk img{
        width: 150px;
    }
    .facebook img{
        width: 150px;
    }
    .mail img{
        width: 150px;
    }
    .socseti{
        padding:50px 0 0 0;
        float: none;
        margin: 0 auto;
        display: block;
        clear: both;
        width: 690px;
    }
    .socseti ul{
        margin: 0 auto;
    }
    footer p{
        padding: 0;
        text-align: center;
        float: none;
        display: none;
    }
    .vk, .mail, .facebook {
    padding-right: 30px;
}



        /*---------------------------------------------------   изменения   ---------------------------------------------------------*/


    .hea .fon {
        display: none;
    }

    .hea .fon1 {
        border-radius: 0;
        width: 1200px;
        height: 930px;
        display: block;
    }

    nav {
        display: none;
    }

    .te h1 {
        display: none;
    }

    .menu-all {
        display: block;
        width: 1140px;
        margin: 0 auto;

    }

    .menu-inner {
        position: relative;
        width: 1140px;
        height: 1000px;
        padding-top: 35px;
        display: block;
    }

    .menu-inner ul {

        /*padding: 70px 0 500px 0;*/
        border-radius: 20px;
        height: 200px;
        display: block;

    }

    .menu-inner ul li {
        position: relative;
        padding-top: 30px;
        clear: both;
        display:none;
        z-index: 2;

    }

    .butt {
        position: relative;
        width: 200px;
        height: 137px;
        display: block;
        z-index: 2;
        float: left;
    }

    .te h1 {
        display: none;
    }

    .menu-inner a {
        padding-top: 72px;
        padding-bottom: 74px;
        font-size: 50px;
        color: #fff;
        clear: both;
        display: block;
        text-decoration: none;


    }

    .three {
        width: 356px;
        height: 200px;
        clear: both;
        text-align: center;
        border: 2px solid #ffffff;
        box-sizing: border-box;
        border-radius: 10px;


    }

    .two {
        padding-left: 30px;
        display: inline-block;

        clear: both;
    }

    .leftblock {
        float: left;
        display: block;
    }

    .rightblock {
        float: right;
        display: block;
    }

    .second {
        display: inline-block;
        margin: 0 auto;
        padding-top: 30px;
    }

    .bottmenu {
        padding-left: 197px;
        display: block;
    }

    .upp {
        width: 1140px;
        height: 137px;
        padding-bottom: 55px;
        display: block;
    }

    .upp p {
        float: right;
        display: block;
        font-size: 90px;
        padding-top: 10px;
    }

    .pictheader {
        display: block;
        padding-top: 80px;
        position: relative;
        width: 1140px;
        height: 642px;
        clear: both;
        margin: 0 auto;
    }

    .pictheader img {
        display: block;
        width: 1140px;
        border-radius: 15px;
        z-index: 1;
    }


    article{
        padding-top: 792px;

    }
}
/*---------------------------------------------------   изменения   ---------------------------------------------------------*/










