* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font: 22px Minion Pro, Helvetica sans-serif;
    color: #666666;
    font-family: inherit;
    line-height: 1;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;

}

/*HEADER BEGIN*/
header h1 {
    float: left;
    padding: 20px 0 0 140px;
}

.hea {
    display: inline-block;
    position: relative;

}

.hea .fon {
    border-radius: 10px;
    width: 1200px;
    height: 465px;

}

.hea .te {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    color: #fff;

}

header {

    height: 465px;
    -o-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;

    border-radius: 10px 10px 10px 10px;
}

nav {
    float: right;
}

nav li {
    float: right;
    margin: 32px 140px 0px -130px;

}

nav li a {
    color: #fff;
    font-size: 37px;
}

nav li:hover {
    padding-bottom: 3px;
    border-bottom: 2px solid;
    color: #fff;

}

#home {
    padding-bottom: 3px;
    border-bottom: 2px solid #fff;
}

#home:hover {
    padding-bottom: 3px;
    border-bottom: 2px solid;
    color: #fff;
}

.middle {
    color: #fff;
    height: 305px;
}

#logobig {
    width: 223px;
    height: 152px;

}

#logobig img {
    padding: 70px 0 0 140px;
}

#wel {
    float: right;
    width: 500px;
    height: 57px;
    padding: 0 140px 0 0;
    font-size: 57px;
    text-align: right;
}

#slogan {
    clear: left;
    float: left;
    width: 220px;
    height: 100px;
    padding: 120px 0 0 140px;
}

#slogan p {
    font-size: 32px;
    text-align: center;
}



/*HEADER END*/

.line1 {
    width: 1200px;
    margin: 0 auto;

}

.line1 p {
    padding: 20px 0 27px 0;

}

.features {
    width: 1200px;
    height: 253px;
    padding: 10px 0 0 140px;
}

.features li {
    color: #666666;
    font-size: 22px;
    float: left;
    width: 300px;

}

.features h3 {
    font-size: 30px;
    color: #666666;

}

.clock, .instr, .star {
    width: 300px;

}

.clock img, .instr img, .star img {
    float: left;

}

.clock h3, .instr h3, .star h3 {
    padding: 12px 0 0 100px;

}

.clock p, .instr p, .star p {
    clear: both;
}

.instr, .star {
    padding-left: 10px;
}

.line2 {
    width: 1200px;
    height: 470px;
    padding: 10px 0 65px 140px;
}

.line2 li {
    color: #666666;
    font-size: 22px;
    float: left;
    width: 300px;
}

.line2 h3 {
    float: left;
    font-size: 30px;
    color: #666666;
    padding: 20px 20px 20px 0px;
}

.line2 li p {
    margin-top: 52px;
    padding-bottom: 40px;
}

.button-news {
    padding-bottom: 25px;
}

.work3, .work2 {
    padding-left: 10px;

}

.work-img {
    border-radius: 8px;
    width: 297px;
    height: 186px;
}

.line2 a {
    text-transform: uppercase;
    padding: 8px 20px;
    font-size: 13px;
    border: solid 2px;
    border-radius: 6px;
    color: #2c493a;
}

.line2 a:visited {
    color: #a5a5a5;
}

.line2 a:hover {
    color: #00aeff;
}

footer {
    width: 1200px;
    height: 150px;
    margin: 0 auto;
    background: url("../img/back-footer.png") no-repeat 0 0;

    border-radius: 10px 10px 10px 10px;
}

.socseti {
    float: right;
    padding: 25px 140px 0 0;
}

.socseti li {
    float: left;

}

footer p {
    float: left;
    padding: 60px 0 0 140px;
    color: #fff;
    font-size: 18px;
}

.facebook {
    padding-right: 10px;
}

.vk {
    padding-right: 10px;
}

.mail {
    padding-right: 10px;
}

.mail:hover {
    padding-top: 8px;
}

.twitter:hover {
    padding-top: 8px;
}

.facebook:hover {
    padding-top: 8px;
}

.vk:hover {
    padding-top: 8px;
}