* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font: 22px Minion Pro, Helvetica sans-serif;
    color: #666666;
    font-family: inherit;
    line-height: 1;

}

article {
    width: 1200px;
    margin: 0 auto;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;

}

/*HEADER BEGIN*/
header h1 {
    float: left;
    padding: 20px 0 0 140px;
}

.hea {
    display: inline-block;
    position: relative;

}

.hea .fon {
    border-radius: 10px;
    width: 1200px;
    height: 465px;

}

.hea .te {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    color: #fff;

}

header {

    height: 465px;
    -o-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
}

nav {
    float: right;
}

.menu {
    display: none;
}

nav li {
    float: right;
    margin: 32px 140px 0px -130px;
    transition: all .1s;
}

nav li a {
    color: #fff;
    font-size: 37px;

}

nav li:hover {
    padding-bottom: 3px;
    border-bottom: 2px solid;
    color: #fff;

}

#home {
    padding-bottom: 3px;
    border-bottom: 2px solid #fff;
}

#home:hover {
    padding-bottom: 3px;
    border-bottom: 2px solid;
    color: #fff;
}

.log-sl-wel {
    display: inline-block;
    position: relative;
    width: 920px;
    margin: 0 auto;
    padding-left: 140px;
}

.log-nav {
    width: 1200px;
    height: 100px;
    margin: 0 auto;
}

.menu-all {
    display: none;
}

.log-nav h1 {
    padding: 20px 0 0 140px;
}

.pictheader {
    display: none;
}

.logobig {
    width: 350px;
    color: #fff;
    float: left;
    padding-top: 50px;
}

.logobig .slogan {
    width: 223px;
    clear: both;
    font-size: 32px;
    text-align: center;
    padding-top: 25px;
}

.botm {
    width: 570px;
    float: right;
    color: #fff;
}

.welcome {
    float: right;
    font-size: 57px;
    padding-top: 50px;
}

.container {
    padding: 60px 0 0 0;
    width: 556px;
    height: 180px;
    float: right;
    overflow: hidden;
}

.linehor {
    width: 1200px;
    height: 22px;
    padding: 22px 0 24px 0;
    clear: both;
}

/*
	Resets defualt browser settings
	reset.css
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

:focus {
    outline: 0;
}

a:active {
    outline: none;
}

body {
    line-height: 1;
    color: black;
    background: white;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: "";
}

blockquote, q {
    quotes: "" "";
}

/*
	Page style
*/

#slides {
    position: relative;
    border: solid 4px;
    border-radius: 4px;

}

#slides .slidesContainer {
    background: #fff;
    box-shadow: 0 2.5px 5px rgba(0, 0, 0, .1);
}

/*
	Pagination
*/

.slidesPagination {
    float: right;
    margin: 0 0 0 0;
    top: -185px;
    position: relative;

}

.slidesPagination li {
    float: left;
    margin: 0 5px;
    list-style: none;
}

.slidesPagination li a {
    display: block;
    width: 14px;
    height: 0;
    padding-top: 14px;
    background-image: url(../img/pagination.png);
    background-position: 0 0;
    overflow: hidden;
}

.slidesPagination li.slidesCurrent a {
    background-position: 0 -14px;
}

.current_slide {
    font: bold 10px/1.33 sans-serif;
    float: left;
    margin-top: 10px;
}

.controls {
    display: block;
    margin-top: 10px;
    float: left;
    color: #fff;
    font: bold 10px/1.33 sans-serif;
    margin-right: 10px;
}

/*HEADER END*/

.line1 {
    width: 1200px;
    margin: 0 auto;

}

.features {
    width: 920px;
    clear: both;
    padding: 0 0 0 140px;

}

.features li {
    color: #666666;
    font-size: 22px;
    float: left;
    width: 300px;

}

.features h3 {
    font-size: 30px;
    color: #666666;

}

.clock, .instr, .star {
    width: 300px;

}

.clock img, .instr img, .star img {
    float: left;

}

.clock h3, .instr h3, .star h3 {
    padding: 12px 0 40px 100px;

}

.clock p, .instr p, .star p {
    clear: both;
}

.instr, .star {
    padding-left: 10px;
}

.desc-features {
    padding-top: 27px;
}

.line2 {
    width: 920px;
    margin: 0 auto;
    clear: both;
}

.line2 li {
    color: #666666;
    font-size: 22px;
    float: left;
    width: 300px;
}

.line2 h3 {
    float: left;
    font-size: 30px;
    color: #666666;
    padding: 20px 20px 20px 0;
}

.line2 li p {
    margin-top: 52px;
    padding-bottom: 40px;
}

.in-line2 {
    width: 920px;
    padding-left: 140px;
}

.work3, .work2 {
    padding-left: 10px;

}

.work3 p, .work2 p, .work1 p {
    clear: both;
}

.line2 li {
    padding-bottom: 8px;
}

.work-img {
    border-radius: 8px;
    width: 300px;
    height: 186px;
}

.line2 a {
    text-transform: uppercase;
    padding: 8px 20px;
    font-size: 13px;
    border: solid 2px;
    border-radius: 6px;
    color: #2c493a;

}

.line2 a:visited {
    color: #a5a5a5;
}

.line2 a:hover {
    color: #00aeff;
}

.line-bottom {
    clear: both;
    padding: 20px 0 27px 0;
}

.line-bottom .bottomer {
    clear: both;
    padding: 10px 0 0 0;
}

footer {
    width: 1200px;
    height: 150px;
    margin: 0 auto;
    background: url("../img/back-footer.png") no-repeat 0 0;

    border-radius: 10px 10px 10px 10px;
    clear: both;
}

footer p {
    float: left;
    padding: 60px 0 0 140px;
    color: #fff;
    font-size: 18px;
}

.socseti {
    float: right;
    padding: 25px 140px 0 0;
}

.mail, .facebook, .twitter:hover, .vk:hover {
    transition: all 0.35s;
}

.socseti li {
    float: left;

}

.vk, .mail, .facebook {
    padding-right: 10px;
}

.mail:hover, .twitter:hover, .facebook:hover, .vk:hover {
    padding-top: 8px;
}

@media all and (max-width: 1200px) {
    .slogan p {
        font-size: 70%;
    }

    .welcome p {
        font-size: 75%;
    }

    .hea .fon {
        border-radius: 0;
        width: 1200px;
        height: 465px;
    }

    footer {
        width: 1200px;
        height: 150px;
        margin: 0 auto;
        background: url("../img/back-footer.png") no-repeat 0 0;
        border-radius: 0;
        clear: both;
    }

    .features {
        width: 1140px;
        padding-left: 0;
        margin: 0 auto;
    }

    .features .clock {
        width: 1140px;
        padding-bottom: 30px;
    }

    .features .instr {
        width: 1140px;
        padding: 0 0 30px 0;
    }

    .features .star {
        width: 1140px;
        padding: 0 0 30px 0;
    }

    .line1 {
        width: 1140px;
        clear: both;
    }

    .linehor {
        width: 1140px;
    }

    .line2 {
        width: 1140px;
    }

    .line2 .work1 {
        width: 1140px;
        padding-bottom: 70px;
    }

    .line2 .work1 img {
        width: 1140px;
        clear: both;
        height: 664px;

    }

    .line2 .work2 {
        width: 1140px;
        padding: 0 0 70px 0;
    }

    .line2 .work2 img {
        width: 1140px;
        height: 664px;
    }

    .line2 .work3 {
        width: 1140px;
        padding: 0;
    }

    .line2 .work3 img {
        width: 1140px;
        height: 664px;
    }

    .line2 a {
        text-transform: uppercase;
        padding: 60px 300px;
        font-size: 25px;
        border: solid 2px;
        border-radius: 6px;
        color: #2c493a;
        text-align: center;
        display: block;

    }

    .line2 a:visited {
        color: #a5a5a5;
    }

    .line2 a:hover {
        color: #00aeff;
    }

    .button-news {
        width: 1000px;
        margin: 0 auto;

    }

    .hea .fon {
        border-radius: 0;
        width: 1200px;
        height: 930px;
        clear: both;

    }

    header {
        height: 930px;
    }

    .container {
        clear: both;
        width: 1140px;
        height: 300px;
        display: none;
        float: none;

    }

    .logobig {
        clear: both;
    }

    #slides {
        height: 300px;
    }

    .botm {
        width: 1140px;
    }

    .log-sl-wel {
        width: 1140px;
        padding: 0;
        margin: 0 auto;
        display: block;
    }

    .welcome {
        display: none;
    }

    .logobig {
        display: none;
    }

    footer {
        width: 1200px;
        height: 300px;
        margin: 0 auto;
        background: url("../img/back-footer-mobile.png") no-repeat 0 0;

        border-radius: 0;
        clear: both;
    }

    .twitter img {
        width: 150px;
    }

    .vk img {
        width: 150px;
    }

    .facebook img {
        width: 150px;
    }

    .mail img {
        width: 150px;
    }

    .socseti {
        padding: 50px 0 0 0;
        float: none;
        margin: 0 auto;
        display: block;
        clear: both;
        width: 690px;
    }

    .socseti ul {
        margin: 0 auto;
    }

    footer p {
        padding: 0;
        text-align: center;
        float: none;
        display: none;
    }

    .vk, .mail, .facebook {
        padding-right: 30px;
    }

    .pictheader {
        display: block;
         padding-top: 152px;
        position: relative;
        width: 1140px;
        height: 642px;
        clear: both;
        margin: 0 auto;
    }

    .pictheader img {

        display: block;
        width: 1140px;
        border-radius: 15px;
        z-index: 1;
    }

    .te nav {
        display: none;
    }

    .menu-all {
        display: block;
        width: 1140px;
        margin: 0 auto;


    }

    .menu-inner {
        position: relative;
        width: 1140px;
        height: 1000px;
        padding-top: 35px;

    }

    .menu-inner ul {

        /*padding: 70px 0 500px 0;*/
        border-radius: 20px;
        height: 200px;





    }

    .menu-inner ul li {
        position: relative;
        padding-top: 30px;
        clear: both;
        display: none;
        z-index: 2;

    }



    .butt {
        position: relative;
        width: 200px;
        height: 137px;
        display: block;
        z-index: 2;
        float: left;
    }

    .te h1 {
        display: none;
    }

    .menu-inner a {
        padding-top: 72px;
        padding-bottom: 74px;
        font-size: 50px;
        color: #fff;
        clear: both;
        display: block;
        text-decoration: none;


    }


    .three{
        width: 357px;
        height: 200px;

        clear: both;
        text-align: center;
        border: 2px solid #ffffff;
        box-sizing: border-box;
        border-radius: 10px;

    }



    .two{
        padding-left: 30px;

        clear: both;
    }
    .leftblock{
        float: left;

    }
    .rightblock{
        float: right;
    }
    .second{
        display: inline-block;
        margin: 0 auto;
        padding-top: 30px;
    }
    .bottmenu{
        padding-left: 197px;
    }

    .upp{
        width: 1140px;
        height: 137px;
        padding-bottom: 55px;
    }
    .upp p{
        float: right;
        display: block;
        font-size: 90px;
        padding-top: 10px;
    }

}



